body {
    margin: auto;
    margin-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.jpeg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: large;
}

h1 {
    color: goldenrod;
}

.box-container{
 align-items: center;
 
}

.box{
    border: 5px double whitesmoke;
    width: 40%;
    margin: 10px auto;
    height: 60%;
    border-radius: 5px;
    
}

#message-el {
    font-style: italic;
}


button {
    color: #016f32;
    width: 200px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    font-size: large;
    margin-top: 10px;
    
}


button .newCard{
margin-bottom: 50px;
}
